@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

:root {
  --primary: #2bd17e;
  --primary-hover: #45e890;
  --error: #eb5757;
  --background: #093545;
  --inputColor: #224957;
  --cardColor: #092c39;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply font-sans;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

/* styles/globals.css */
.wavy-curve {
  clip-path: path("M0,45 C480,120 960,8 2000,64 L2000,320 L0,320 Z");
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--inputColor) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

input::placeholder {
  color: white;
}

/* Spinner */
.spinner {
  box-sizing: border-box;
}

.spinner {
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Card */

.fade-in {
  animation: fadein 2s ease 0s forwards alternate;
}

/* Keyframes */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* reset */
/* button {
  all: unset;
} */

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  width: fit-content;
  gap: 5px;
  background-color: var(--background);
  color: white;
}
.SelectTrigger:hover {
  color: black;
  background-color: var(--mauve-3);
}

.SelectTrigger:hover .SelectIcon {
  color: black;
}

.SelectTrigger[data-placeholder]:hover {
  color: black;
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}

.SelectTrigger[data-placeholder] {
  color: white;
}

.SelectIcon {
  color: white;
}

.SelectContent {
  overflow: hidden;
  background-color: var(--cardColor);
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: black;
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: #f0f0f0;
  color: black;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--primary);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}
