@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary: #2bd17e;
  --primary-hover: #45e890;
  --error: #eb5757;
  --background: #093545;
  --inputColor: #224957;
  --cardColor: #092c39;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply font-sans;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

/* styles/globals.css */
.wavy-curve {
  clip-path: path("M0,45 C480,120 960,8 2000,64 L2000,320 L0,320 Z");
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--inputColor) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

input::placeholder {
  color: white;
}

/* Spinner */
.spinner {
  box-sizing: border-box;
}

.spinner {
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Card */

.fade-in {
  animation: fadein 1s ease 0s forwards alternate;
}

/* Keyframes */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
